/* 
	Helper style-box:
		1. Common styles
		2. Header-top styles
		3. Header-main styles
		4. Service-page styles
		5. Offer-page styles
		6. Ability-page styles
		7. Comment-page styles
		8. Download-page styles
		9. Price-page styles
		10. Contact-page styles
		11. Footer-page styles
*/



/* 1. Common styles */

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

*, *::before, *::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}



h1, h2, h3, h4, h5, h6, p {
	font-size: 16px;
	font-weight: normal;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}



.container {
	max-width: 1140px;

	margin: 0 auto;
	padding: 0 15px;
}



.logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.logo__img {
	margin-right: 10px;
}

.logo__text {
	font-family: 'Roboto Slab', serif;
}



.standart-page__sup-title {
	font-size: 18px;
	font-family: 'Roboto Slab', serif;
	color: #7c7c7c;

	text-align: center;

	margin-bottom: 10px;
}

.standart-page__sub-title {
	position: relative;

	font-size: 24px;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;

	color: #494949;

	text-align: center;
}

.standart-page__sub-title::after {
	position: absolute;
	left: 49%;
	bottom: -20px;

	width: 30px;
	height: 2px;

	content: '';

	background-color: #2eb0ec;
}

.short-page__sup-title {
	font-size: 22px;
	font-family: 'Raleway', sans-serif;
	color: #c0c1c1;
	
	margin-bottom: 25px;
}

.short-page__sub-title {
	font-size: 32px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;

	color: #494949;

	margin-bottom: 35px;
}

.short-page__sup-description {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;

	color: #7c7c7c;
}

.short-page__sub-description {
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;

	color: #7c7c7c;
}

.item__title {
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	color: #494949;
}

.button {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;

	color: #fff;
	background-color: #66d4f4;

	border-radius: 30px;

	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.button:hover {
	-webkit-box-shadow: 0px 0px 20px 0px #66d4f4;
	box-shadow: 0px 0px 20px 0px #66d4f4;

	-webkit-transform: scale(1.025);
	transform: scale(1.025);

	-webkit-transition: 0.5s;
	transition: 0.5s;
}

/* 1. Common styles */



/* 2. Header-top styles */

.header-top {
	position: fixed;
	z-index: 3;

	width: 100%;

	padding: 30px 0;

	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.header-top__scrolled {
	background-color: #51aff7;

	-webkit-box-shadow: 0px 0px 10px 0px #1e73df;
	box-shadow: 0px 0px 10px 0px #1e73df;
}

.header-top__scrolled .header-top__content::after {
	background-color: #51aff7;
	
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.header-top__content {
	position: relative;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header-top__content::after {
	position: absolute;
	left: 15px;
    right: 15px;
	bottom: -30px;

	height: 1px;

	content: '';

	background-color: #b3dcfb;
}

.header-top__logo {
	margin-right: auto;
}

.header-top__logo-text {
	font-size: 40px;
	color: #fff;
}

.header-top__nav {
	margin-right: 40px;
}

.header-top__toggler {
	font-size: 32px;
	color: #fff;

	cursor: pointer;

	display: none;
}

.header-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header-menu__item:not(:last-child) {
	margin-right: 35px;
}

.header-menu__link,
.header-top__button {
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;

	color: #fff;

	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.header-menu__link:hover {
	color: #b3dcfb;

	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.header-top__button {
	background-color: #4ca3e6;

	border-radius: 10px;

	padding: 20px 30px;

	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.header-top__button:hover {
	-webkit-box-shadow: 0px 80px 0px 1px #1e73df inset;
	box-shadow: 0px 80px 0px 1px #1e73df inset;

	-webkit-transition: 0.5s;
	transition: 0.5s;
}

/* 2. Header-top styles */



/* 3. Header-main styles */

.header-main {
	height: 100vh;
	min-height: 600px;

	background: #51aff7 url(../img/header-bg.jpg) no-repeat center center / cover;
}

.header-main__content {
	height: 100vh;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header-main__headphones-img {
	position: absolute;
	top: 0;
	left: 0;

	width: 10%;
}

.header-main__pencils-img {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 10%;
}

.header-main__left-box {
	max-width: 570px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.header-main__title {
	font-size: 40px;
	font-family: 'Roboto Slab', serif;
	color: #fff;

	margin-bottom: 35px;
}

.header-main__sign {
	margin: 0 20px;
}

.header-main__description {
	font-size: 26px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;

	color: #fff;

	line-height: 40px;

	margin-bottom: 70px;
}

.header-main__button-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header-main__button {
	width: 240px;

	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;

	text-align: center;

	border-radius: 10px;
}
  

.header-main__left-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	color: #3e3e3e;
	background-color: #fff;

	-webkit-box-shadow: 0px 6px 8px 0px #4ca3e6;
	box-shadow: 0px 6px 8px 0px #4ca3e6;

	margin-right: 30px;
	padding: 20px 0;
}

.header-main__img-button {
	margin-right: 15px;
}

.header-main__right-button {
	color: #fff;
	background-color: #4ca3e6;

	padding: 25px 0;
	
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.header-main__right-button:hover {
	color: #3e3e3e;
	background-color: #fff;

	-webkit-box-shadow: 0px 6px 8px 0px #4ca3e6;
	box-shadow: 0px 6px 8px 0px #4ca3e6;

	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.header-main__phone-img {
	position: absolute;
	bottom: 0;
	right: 18%;

	width: 25%;
}

.header-main__earphones-img {
	position: absolute;
	top: 45%;
	right: 0;

	width: 7%;
}

/* 3. Header-main styles */



/* 4. Service-page styles */

.service-page {
	padding: 100px 0 170px 0;
}

.service-page__sub-title {
	margin-bottom: 120px;
}

.service-page__item-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.service-item {
	width: 28%;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	text-align: center;
}

.service-item__img {
	margin-bottom: 45px;
}

.service-item__title {
	font-weight: 700;

	margin-bottom: 30px;
}

.service-item__description {
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;

	color: #7c7c7c;

	line-height: 26px;
}

/* 4. Service-page styles */



/* 5. Offer-page styles */

.offer-page {
	position: relative;

	background: #fafbfb url(../img/offer-bg.jpg) no-repeat center center / cover;

	padding: 140px 0 185px;
}

.offer-page__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.offer-page__gadgets {
	position: absolute;
	z-index: 1;
	left: -230px;
}

.offer-page__right-box {
	max-width: 540px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;

	margin-right: 30px;
}

.offer-page__description {
	margin-bottom: 60px;
}

.offer-page__item-box {
	margin-bottom: 50px;
}

.offer-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	margin-bottom: 15px;
}

.offer-item::before {
	position: relative;

	width: 15px;
	height: 15px;

	content: '';

	background-color: #66d4f4;
	
	border: 4px solid #c8ebf5;

	border-radius: 100%;

	margin-right: 25px;
}

.offer-page__button {
	font-size: 14px;

	padding: 20px 35px;

	-webkit-transition: 0.5s;
	transition: 0.5s;
}

/* 5. Offer-page styles */



/* 6. Ability-page styles */

.ability-page {
	padding: 55px 0 125px 0;
}

.ability-page__sub-title {
	margin-bottom: 120px;
}

.ability-page__item-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.ability-item {
	width: 30%;
}

.ability-item:not(:nth-last-child(-n + 3)) {
	margin-bottom: 90px;
}

.ability-item__title-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	margin-bottom: 15px;
}

.ability-item__img {
	margin-right: 20px;
}

.ability-item__title {
	font-weight: 600;
}

.ability-item__description {
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;

	color: #7c7c7c;

	line-height: 26px;
}

.ability-item:first-child .ability-item__description {
	margin-left: 50px;
}

.ability-item:nth-child(2) .ability-item__description,
.ability-item:last-child .ability-item__description {
	margin-left: 62px;
}

.ability-item:nth-child(3) .ability-item__description,
.ability-item:nth-child(5) .ability-item__description {
	margin-left: 67px;
}

.ability-item:nth-child(4) .ability-item__description {
	margin-left: 55px;
}

/* 6. Ability-page styles */



/* 7. Comment-page styles */

.comment-page {
	background: #f3f9fa url(../img/comment-bg.jpg) no-repeat center center / cover;

	padding: 50px 0 110px 0;
}

.comment-page__sub-title {
	margin-bottom: 140px;
}

.coment-page__item-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	text-align: center;

	margin-bottom: 35px;
}

.comment-item {
	position: relative;
	
	width: 65%;

	font-family: 'Raleway', sans-serif;

	background-color: #fff;

	-webkit-box-shadow: 0px 0px 50px 0px #dee4e5;
	box-shadow: 0px 0px 50px 0px #dee4e5;

	border: 1px solid #dee4e5;
	border-radius: 10px;

	padding: 80px 70px 100px 70px;
}

.comment-item__author {
	margin-bottom: 30px;
}

.comment-item__img {
	position: absolute;
	top: -55px;
	left: calc( ( 100% - 105px ) * 0.5 );

	width: 105px;
	height: 105px;

	border: 5px solid #fff;
	border-radius: 100%;
}

.comment-item__initials {
	font-size: 20px;
	font-weight: 700;
	color: #494949;

	margin-bottom: 5px;
}

.comment-item__job-position {
	font-size: 15px;
	font-weight: 500;
	color: #7c7c7c;
}

.comment-item__description {
	font-size: 18px;
	font-weight: 500;
	color: #7c7c7c;

	line-height: 30px;
}

.comment-page__pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.comment-page__prev-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	margin-right: 30px;
}

.comment-page__pagination-text {
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.comment-page__prev-img {
	fill: #abafb0;
}

.comment-page__prev-text {
	color: #abafb0;

	margin-left: 15px;
}

.comment-page__next-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.comment-page__next-img {
	fill: #494949;
}

.comment-page__next-text {
	color: #494949;

	margin-right: 15px;
}

/* 7. Comment-page styles */



/* 8. Download-page styles */

.download-page {
	padding: 165px 0 150px 0;
}

.download-page__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.download-page__left-box {
	max-width: 455px;
}

.download-page__sup-description {
	line-height: 26px;

	margin-bottom: 40px;
}

.download-page__sub-description {
	line-height: 26px;
}

/* 8. Download-page styles */



/* 9. Price-page styles */

.price-page {
	background: #f4fbfc url(../img/price-bg.jpg) no-repeat center center / cover;

	padding: 70px 0 150px 0;
}

.price-page__sub-title {
	margin-bottom: 150px;
}

.price-page__item-box {
	width: 100%;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.price-item {
	width: 30%;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	text-align: center;

	background: #fff url(../img/price_item-bg.jpg) no-repeat center top / cover;

	border: 1px solid #ebebf0;
	border-radius: 15px;

	padding: 50px 80px;

	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.price-item:hover {
	cursor: pointer;

	-webkit-box-shadow: 0px 0px 25px 0px #ebebf0;
	box-shadow: 0px 0px 25px 0px #ebebf0;

	-webkit-transform: scale(1.05);
	transform: scale(1.05);

	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.price-item__img {
	margin-bottom: 50px;
}

.price-item__title {
	font-weight: 600;
}

.price-item__money-box {
	position: relative;

	font-family: 'Raleway', sans-serif;
	color: #2eb0ec;

	margin-bottom: 40px;
}

.price-item__dollar {
	position: absolute;
	top: 25px;
	left: -15px;

	font-size: 20px;
	font-weight: 500;
}

.price-item__amount {
	font-size: 72px;
	font-weight: 900;

	background: linear-gradient(200deg, #34b7ed 33%, #55dcf4 66%, #65eef8);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}
  
.price-item__text {
	font-size: 20px;
	font-weight: 500;
}

.price-item__description-box {
	margin-bottom: 50px;
}

.price-item__description {
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;

	color: #7c7c7c;
}

.price-item__description:not(:last-child) {
	margin-bottom: 15px;
}

.price-item__disabled-description {
	color: #bebebe;
}

.price-page__button {
	padding: 20px 50px;
}

/* 9. Price-page styles */



/* 10. Contact-page styles */

.contact-page {
	padding: 70px 0 110px 0;
}

.contact-page__content {
	position: relative;
}

.contact-page__sub-title {
	margin-bottom: 90px;
}

.subscribe-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.subscribe-form__input {
	width: 32%;

	font-family: 'Raleway', sans-serif;
	font-weight: 700;

	text-align: center;

	border: none;
	border-radius: 40px;

	outline: none;

	padding: 30px 0;
}

.subscribe-form__field {
	font-size: 16px;
	color: #7c7c7c;

	background-color: #f5fafa;

	margin-bottom: 30px;
}

.subscribe-form__field::-webkit-input-placeholder {
    color: #c6c9c9;
}
.subscribe-form__field:-moz-placeholder {
    color: #c6c9c9;
}
.subscribe-form__field::-moz-placeholder {
    color: #c6c9c9;
}
.subscribe-form__field:-ms-input-placeholder {
    color: #c6c9c9;
}

.subscribe-form__field:focus::-webkit-input-placeholder {
    color: transparent;
}
.subscribe-form__field:focus:-moz-placeholder {
    color: transparent;
}
.subscribe-form__field:focus::-moz-placeholder {
    color: transparent;
}
.subscribe-form__field:focus:-ms-input-placeholder {
    color: transparent;
}

.subscribe-form__field:focus {
	-webkit-box-shadow: 0px 0px 50px 0px #ebebeb;
	box-shadow: 0px 0px 50px 0px #ebebeb;

	border: 1px solid #ebebeb;
}

.subscribe-form__button {
	font-size: 18px;
	color: #fff;

	background-color: #66d4f4;
}

.subscribe-form__button:hover {
	cursor: pointer;
}

/* 10. Contact-page styles */



/* 11. Footer-page styles */

.footer-page__top {
	position: relative;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;

	padding: 55px 0 75px 0;
}

.footer-page__top::before {
	position: absolute;
	left: 0;
    right: 0;
	top: 0;

	height: 1px;

	content: '';

	background-color: #dfdfdf;
}

.footer-page__top::after {
	position: absolute;
	left: 0;
    right: 0;
	bottom: 0;

	height: 1px;

	content: '';

	background-color: #dfdfdf;
}

.footer-page__left-box {
	max-width: 210px;
}

.footer-page__logo {
	margin-bottom: 20px;
}

.footer-page__logo-text {
	font-size: 36px;
	color: #2f2f2f;
}

.footer-page__description {
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;

	color: #7c7c7c;

	line-height: 28px;

	margin-bottom: 20px;
}

.footer-page__social {
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;

	color: #494949;

	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.footer-page__social:not(:last-child) {
	margin-right: 10px;
}

.footer-page__social:hover {
	text-decoration: underline;

	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.footer-page__nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.footer-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.footer-menu:not(:last-child) {
	margin-right: 110px;
}

.footer-menu__title {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;

	color: #494949;

	margin-bottom: 45px;
}

.footer-menu__item:not(:last-child) {
	margin-bottom: 10px;
}

.footer-menu__link {
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;

	color: #7c7c7c;

	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.footer-menu__link:hover {
	text-decoration: underline;

	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.footer-page__bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	padding: 35px 0;
}

.footer-page__bottom-text {
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;

	color: #7c7c7c;

	text-align: center;
}

.footer-page__copyright::after,
.footer-page__rights::after {
	content: '|';

	margin: 0 15px;
}

.footer-page__template-author {
	font-weight: 800;

	color: #7c7c7c;
}

/* 11. Footer-page styles */