@media screen and (max-width: 1440px) {
	.header-main__content {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.header-main__left-box {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		text-align: center;
	
		margin-top: 100px;
	}
	
	.header-main__headphones-img,
	.header-main__pencils-img,
	.header-main__phone-img,
	.header-main__earphones-img {
		display: none;
	}

	

	.offer-page__gadgets {
		width: 670px;
	}
}

@media screen and (max-width: 1120px) {
	.offer-page__gadgets {
		width: 570px;
	}



	.download-page__image {
		width: 400px;
	}



	.price-item {
		padding: 50px 40px;
	}
	
	.price-page__button {
		font-size: 14px;

		padding: 20px 60px;
	}
}

@media screen and (max-width: 1040px) {
	.header-top {
		padding: 15px 0;
	}

	.header-top__logo-text {
		font-size: 36px;
	}

	.header-top__content::after {
		bottom: -15px;
	}

	.header-menu__link, .header-top__button {
		font-size: 16px;
	}

	.header-top__button {
		padding: 15px 25px;
	}



	.service-page {
		padding: 60px 0 120px 0;
	}



	.offer-page {
		padding: 80px 0 125px;
	}



	.download-page {
		padding: 125px 0 110px 0;
	}



	.price-page {
		padding: 60px 0 120px 0;
	}



	.footer-menu:not(:last-child) {
		margin-right: 70px;
	}
}

@media screen and (max-width: 960px) {
	.header-top__nav {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;

		margin-right: 0;
	}

	.header-top__toggler {
		display: block;
	}
	
	.header-menu {
		display: none;
	}

	.header-top__button {
		margin-right: 30px;
	}



	.offer-page__content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.offer-page__gadgets {
		position: relative;
		left: 0;

		width: 250px;

		margin-bottom: 60px;
	}

	.offer-page__right-box {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		text-align: center;
		
		margin-right: 0;
	}



	.ability-item {
		width: 45%;
	}

	.ability-item:not(:nth-last-child(-n + 2)) {
		margin-bottom: 60px;
	}



	.comment-item {
		width: 80%;
	}



	.download-page__content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.download-page__left-box {
		max-width: 70%;

		text-align: center;
	}

	.download-page__image {
		width: 350px;

		margin-bottom: 60px;
	}



	.price-page__item-box {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	
	.price-item {
		width: 40%;
	}

	.price-item:last-child {
		margin-top: 60px;
	}



	.subscribe-form__input {
		width: 45%;

		padding: 25px 0;
	}



	.footer-page__top {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;

		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.footer-page__left-box {
		max-width: 510px;

		text-align: center;

		margin-bottom: 60px;
	}

	.footer-page__logo {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;

		margin-bottom: 40px;
	}

	.footer-page__bottom {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.footer-page__description,
	.footer-page__social,
	.footer-menu__link {
		font-size: 15px;
	}

	.footer-menu__title {
		margin-bottom: 35px;
	}
}

@media screen and (max-width: 768px) {
	.header-main__left-box {
		max-width: 90%;
	}

	.header-main__title {
		font-size: 36px;

		margin-bottom: 25px;
	}

	.header-main__description {
		font-size: 22px;

		margin-bottom: 50px;
	}

	.header-main__button-box {
		width: 90%;

		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.header-main__button {
		width: 47%;
	}

	.header-main__left-button {
		margin-right: 0;
	}



	.service-page__sub-title {
		margin-bottom: 90px;
	}

	.service-page__item-box {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}

	.service-item {
		width: 45%;
	}

	.service-item:last-child {
		margin-top: 60px;
	}



	.ability-page__sub-title {
		margin-bottom: 100px;
	}

	.ability-page__item-box {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	
	.ability-item {
		width: 75%;
	}
	
	.ability-item__title-box {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.ability-item:first-child .ability-item__description,
	.ability-item:nth-child(2) .ability-item__description,
	.ability-item:nth-child(3) .ability-item__description,
	.ability-item:nth-child(4) .ability-item__description,
	.ability-item:nth-child(5) .ability-item__description,
	.ability-item:last-child .ability-item__description {
		text-align: center;

		margin-left: 0;
	}

	.ability-item:not(:last-child) {
		margin-bottom: 60px;
	}



	.comment-item {
		width: 95%;

		padding: 70px 50px;
	}

	.comment-item__description {
		font-size: 16px;
	}



	.price-page__sub-title {
		margin-bottom: 100px;
	}

	.price-item {
		width: 51%;
	}

	.price-item:not(:first-child) {
		margin-top: 60px;
	}



	.footer-menu:not(:last-child) {
		margin-right: 50px;
	}
}

@media screen and (max-width: 620px) {
	.header-main__left-box {
		margin-top: 200px;
	}

	.header-main__img-button {
		margin-right: 10px;
	}

	.price-item {
		width: 60%;
	}



	.subscribe-form__input {
		width: 65%;
	}



	.footer-page__top {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.footer-page__nav {
		width: 100%;

		-ms-flex-pack: distribute;
		justify-content: space-around;
	}

	.footer-menu {
		width: 35%;

		text-align: center;
	}

	.footer-menu:not(:last-child) {
		margin-right: 0;
	}

	.footer-menu:first-child,
	.footer-menu:nth-child(2) {
		margin-bottom: 60px;
	}

	.footer-menu__title {
		margin-bottom: 25px;
	}

	.footer-page__copyright::after,
	.footer-page__rights::after {
		content: '';

		margin: 0 5px;
	}
}

@media screen and (max-width: 540px) {
	.standart-page__sup-title {
		font-size: 16px;
	}
	
	.standart-page__sub-title {
		font-size: 22px;
	}



	.short-page__sup-title {
		font-size: 18px;

		margin-bottom: 15px;
	}

	.short-page__sub-title {
		font-size: 24px;
	}

	.short-page__sup-description {
		font-size: 16px;
	}



	.header-main__title {
		font-size: 28px;
	}

	.header-main__description {
		font-size: 18px;
	}

	.header-main__button-box {
		width: 100%;
	}

	.header-main__button {
		width: 49%;
	}

	.header-main__button {
		font-size: 16px;
	}

	.header-main__left-button {
		padding: 15px 0;
	}

	.header-main__right-button {
		padding: 23px 0;
	}



	.service-page {
		padding: 60px 0 100px 0;
	}
	
	.service-item {
		width: 75%;
	}

	.service-item:not(:first-child) {
		margin-top: 60px;
	}

	.service-item__img {
		margin-bottom: 25px;
	}

	.service-item__title {
		margin-bottom: 15px;
	}



	.offer-page {
		padding: 70px 0 95px;
	}



	.comment-page {
		padding: 50px 0 90px 0;
	}

	.comment-item {
		width: 100%;

		padding: 60px 30px;
	}

	.comment-item__description {
		font-size: 14px;
	}



	.download-page {
	    padding: 95px 0 70px 0;
	}



	.price-page {
		padding: 60px 0 80px 0;
	}

	.price-item {
		width: 70%;
	}

	.price-item__img {
		margin-bottom: 40px;
	}

	.price-item__money-box {
		margin-bottom: 30px;
	}

	.price-item__description-box {
		margin-bottom: 40px;
	}



	.footer-page__bottom {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;

		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.footer-page__bottom-text {
		line-height: 22px;
	}
}

@media screen and (max-width: 444px) {
	.logo__img {
		width: 40px;
	}


	
	.header-top__logo-text {
		font-size: 28px;
	}

	.header-top__toggler {
		font-size: 28px;
	}

	.header-top__button {
		font-size: 14px;
	}



	.header-main__title {
		font-size: 26px;
	}
	
	.header-main__sign {
		margin: 0 5px;
	}

	.header-main__description {
		font-size: 16px;
	}
}