/*main css start*/
body{
	width:100%;
	font-size: 16px;
	line-height:24px;
	color: #494949;
	font-family: 'Open Sans', sans-serif;
	position:relative;
	font-weight:400;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
}
.container:after{
    display: inherit;
}
a {
	color: inherit;
	
}
a:hover, a:focus {
	color: #fb5e1c;
	text-decoration: none;
}
a:focus {
	outline: none;
}
p#error {
    width: 100%;
    float: left;
}
h1, h2, h3, h4, h5, h6{
	font-family: inherit;
	line-height: 1.1;
	color: #fb5e1c;
}
label{
	width:100%;
	float:left;
	color: #333333;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.ch_main_wrapper{
	width:100%;
	float:left;
}
.ch_loader{
	position:fixed;
	left:0;
	top:0;
	bottom:0;
	right:0;
	background-color:#ffffff;
	z-index:999999;
}
.ch_loader .loader{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
}
.ch_loader .loader span img {
    animation: zoomIn 1.2s infinite;
    -webkit-animation: zoomIn 1.2s infinite;
    -moz-animation: zoomIn 1.2s infinite;
    -ms-animation: zoomIn 1.2s infinite;
    -o-animation: zoomIn 1.2s infinite;
}
.ch_heading_wrapper{
	width:100%;
	text-align:center;
	float:left;
	padding-bottom:40px;
}
.ch_heading_wrapper h1{
	font-size:35px;
	font-weight:700;
	text-transform:capitalize;
	margin:0;
	width:100%;
	float:left;
	line-height:35px;
	padding-bottom:5px;
}

/*main css end*/
/*banner css start*/
.ch_slider_wrapper{
	width:100%;
	float:left;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
}
.ch_menu_wrapper.fixed_header,.inner_wrapper .ch_menu_wrapper.fixed_header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999999;
    right: 0;
    background-color: #000;
	padding:15px 0;
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
}
.ch_menu_wrapper{
	position:absolute;
	top:0;
	left:0;
	right:0;
	padding:30px 0;
	z-index:99;
}
.ch_index_slider{
	width:100%;
	float:left;
}
.tparrows.tp-leftarrow:before{
	content: "\f104";
}
.tparrows.tp-rightarrow:before{
	content: "\f105";
}
.tparrows:before{
	font-family: FontAwesome;
	font-size:20px;
}
.ch_menu_wrapper .ch_logo{
	width:100%;
	float:left;
}
.ch_menu_wrapper .ch_menu{
	width:100%;
	float:left;
	padding: 12px 0;
}
.ch_menu_wrapper .ch_menu ul{
	margin:0;
	padding:0;
	list-style:none;
	float:right;
}
.ch_menu_wrapper .ch_menu ul li{
	float:left;
	margin-right:50px;
	position:relative;
}
.ch_menu_wrapper .ch_menu ul li:last-child{
	margin-right:0px;
}
.ch_menu_wrapper .ch_menu ul li a{
	font-size:18px;
	color:#ffffff;
	text-transform:capitalize;
	font-weight:600;
	display:inline-block;
	transition:all 0.25s ease;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
}
.ch_menu_wrapper .ch_menu ul li a:hover{
	color:#fb5e1c;
}
.ch_menu_wrapper .ch_menu ul li .submenu {
    position: absolute;
    left: 0;
    right: 0;
    min-width: 200px;
    bottom: -100px;
    background-color: #fb5e1c;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	opacity:0;
	visibility:hidden;
	z-index:999;
}
.ch_menu_wrapper .ch_menu ul li .submenu:after{
	position: inherit;
    left: 15px;
    top: -7px;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    background-color: #fb5e1c;
    content: '';
	z-index:-1;
}
.ch_menu_wrapper .ch_menu ul li:hover .submenu{
	bottom:-80px;
	opacity:1;
	visibility:visible;
}
.ch_menu_wrapper .ch_menu ul li .submenu>li {
    width: 100%;
    float: left;
	margin:0px;
}
.ch_menu_wrapper .ch_menu ul li .submenu>li>a {
    padding: 15px 20px;
    display: inline-block;
	width:100%;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
}
.ch_menu_wrapper .ch_menu ul li .submenu>li>a:hover{
	background-color:#fff;
}
/*banner css end*/
/*services css start*/
.ch_service_wrapper{
	width:100%;
	background-color:#ffffff;
	float:left;
	padding-top:80px;
	padding-bottom:40px;
}
.ch_services{
	width:100%;
	float:left;
}
.ch_services .service_section{
	width:100%;
	float:left;
	text-align:center;
	margin-bottom:40px;
}
.service_img{
	width:100%;
	float:left;
	margin-bottom:30px;
	position:relative;
}
.service_img:after{
	position:absolute;
	left:0;
	right:100%;
	top:0;
	bottom:0;
	background-color:rgba(0, 0, 0, 0.67);	
	content:'';
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
}
.service_section:hover .service_img:after{
	right:0%;
}
.service_section:hover .service_img .overlay_icon{
	top:50%;
	opacity:1;
}
.overlay_icon{
	position:absolute;
	top:-10%;
	left:50%;
	opacity:0;
	z-index:1;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transition:all 0.25s ease;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
}
.service_section h1{
	width:100%;
	float:left;
	font-size:25px;
	font-weight:700;
	margin:0px;
	line-height:25px;
	padding-bottom:20px;
}
.service_section p{
	width:100%;
	margin:0px;
	float:left;
	padding:0 10px;
}
.overlay_icon span {
    color: #ffffff;
}
.overlay_icon span:before {
    font-size: 46px;
    margin: 0;
}
/*services css end*/
/*about css start*/
.ch_about_wrapper{
	width:100%;
	float:left;
}
.ch_about_wrapper .about_img{
	width:100%;
	float:left;
	overflow:hidden;
	vertical-align: text-top;
	overflow:hidden;
}
.ch_about_wrapper .about_img  img{
	transform:scale(1);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transition:all 0.25s ease;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
}
.ch_about_wrapper:hover  .about_img  img{
	transform:scale(1.2);
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);
	-o-transform:scale(1.2);
}
.about_content{
	width:100%;
	float:left;
	background-color:#f1f1f1;
	padding:50px 30px;
}
.about_content h1{
	font-size:35px;
	line-height:35px;
	color:#fb5e1c;
	width:100%;
	float:left;
	margin:0;
	padding-bottom:40px;
	text-transform:capitalize;
	font-weight:700;
}
.about_content p{
	width:100%;
	float:left;
	margin:0;
	padding-bottom:13px;
}
.ch_btn_wrapper{
	width:100%;
	padding-top:32px;
	float:left;
}
.causes_section .ch_btn_wrapper {
    padding-bottom: 35px;
}
.ch_btn_wrapper .ch_btn,.rev-btn.ch_btn{
	display:inline-block;
	overflow:hidden;
	height:50px;
	line-height:50px;
	cursor:pointer;
	font-size:16px;
	color:#ffffff;
	border-radius:20px;
	font-family: 'Open Sans', sans-serif;
	position:relative;
	padding:0 45px;
	text-transform:capitalize;
	font-weight:800;
	background-color:#fb5e1c;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	z-index:1;
}
.ch_btn_wrapper .ch_btn:before,.rev-btn.ch_btn:before{
	position:absolute;
	content:'';
	left:0;
	top:0;
	right:100%;
	bottom:0;
	border-radius:20px;
	background-color:#fff;
	border:2px solid #fb5e1c;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	opacity:0;
	z-index:-1;
}
.ch_btn_wrapper .ch_btn:hover:before,.rev-btn.ch_btn:hover:before{
	right:0;
	opacity:1;
}
.ch_btn_wrapper .ch_btn:hover{
	color:#fb5e1c;
}
.rev-btn.ch_btn{
	background-color:#fb5e1c!Important;
	border:none!important;
}
.rev-btn.ch_btn:hover{
	color:#fb5e1c !important;
	border-radius:20px;
	border-color:#fb5e1c!important;
}
/*about css end*/
/*event css start*/
.ch_event_wrapper{
	width:100%;
	float:left;
	background-image:url('http://via.placeholder.com/1920x984');
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	padding:80px 0;
	position:relative;
	z-index:1;
}
.ch_event_wrapper:after{
	position:absolute;
	content:'';
	left:0;
	top:0;
	z-index:-1;
	bottom:0;
	right:0;
	background-color:rgba(0, 0, 0, 0.7);
}
.event_section{
	width:100%;
	float:left;
	margin-bottom:30px;
}
.event_section .ch_hover:after{
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
}
.event_section:hover .ch_hover:after{
	left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
	background-color:transparent;
}
.event_section .event_img{
	width:100%;
	float:left;
	overflow:hidden;
}
.event_section .event_detail{
	width:100%;
	float:left;
	background-color:#f1f1f1;
	padding:30px 45px;
}
.event_detail h1{
	width:100%;
	float:left;
	margin:0px;
	font-size:25px;
	line-height:25px;
	text-transform:capitalize;
	padding-bottom:21px;
	font-weight:700;
}
.event_detail p{
	width:100%;
	line-height:20px;
	float:left;
	margin:0px;
	padding-bottom:30px;
}
.event_detail ul{
	margin:0;
	padding:0;
	list-style:none;
}
.event_detail ul li{
	width:100%;
	float:left;
}
.event_detail ul li p{
	padding:5px 0;
	font-size:12px;
}
.event_detail ul li:last-child p{
	padding-bottom:0px;
}
.event_detail ul li p i{
	color: #fb5e1c;
    margin-right: 10px;
    font-size: 16px;
}
.ch_event_wrapper .ch_btn_wrapper{
	padding-top:0px;
	text-align:center;
}
/*event css end*/
/*cause css start*/
.ch_causes_wrapper{
	width:100%;
	float:left;
	padding-top:80px;
	background-color:#ffffff;
	padding-bottom:50px;
}
.ch_causes{
	width:100%;
	float:left;
}
.causes_section{
	width:100%;
	float:left;
	padding:15px;
	background-color:#f1f1f1;
	text-align:center;
	margin-bottom:30px;
}
.causes_section .ch_hover:after,.single_portfolio_img:after{
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
}
.causes_section:hover .ch_hover:after,.single_portfolio_img:hover:after{
	left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
	background-color:transparent;
}
.causes_section h1{
	font-size:25px;
	line-height:25px;
	text-transform:capitalize;
	font-weight:700;
	margin:0px;
	width:100%;
	float:left;
	padding:15px 0;
}
.causes_section .causes_img{
	width:100%;
	float:left;
	position:relative;
}
.causes_section .range_slder{
	width:100%;
	float:left;
	padding:10px 10px 0;
}
.range_slder .slider.slider-horizontal{
	width:100%;
}

#RGB {
	height: 20px;
	background: rgb(128, 128, 128);
}
#GC .slider-selection {
	background: #fb5e1c;
	height: 8.1px;
}
#GC .slider-handle {
	 border: 1px solid #fb5e1c;
}
.range_slder .tooltip-inner{
	background-color:#fb5e1c;
}
.tooltip.top .tooltip-arrow{
	border-top-color:#fb5e1c;
}
.range_slder .slider-track {
    position: absolute;
    background-color: #fff;
    cursor: pointer;
	 border: 1px solid #000;
    background-image:none;
    filter:none;
	box-shadow:none;
    border-radius: 4px;
}
.range_slder p {
    font-size: 14px;
    text-transform: capitalize;
}
.range_slder p span {
    margin-left: 14px;
    position: relative;
}
.tooltip {
    opacity: 1;
	margin-top: -30px !important;
}
.tooltip.tooltip-min.top,.tooltip.tooltip-max.top{
	display:none;
}
.range_slder p span:before {
    content: '-';
    position: absolute;
    left: -8px;
}
.range_slder .ch_btn{
	padding:0 25px;
}
/*cause css end*/
/*banner css start*/
.ch_banner_wrapper{
	width:100%;
	float:left;
}
.ch_banner_wrapper .ch_banner{
	width:100%;
	float:left;
}
.ch_banner ul{
	margin:0;
	padding:0;
	list-style:none;
}
.ch_banner ul li{
	width:25%;
	float:left;
}
.ch_banner ul li .banner_section{
	width:100%;
	float:left;
	position:relative;
	text-align:center;
}
.ch_banner ul li .banner_section:after{
	position:absolute;
	top:0;
	bottom:0;
	z-index:1;
	right:0;
	left:0;
	content:'';
}
.ch_banner ul li:nth-child(odd) .banner_section:after{
		background-color:rgba(251, 94, 28, 0.72);
}
.ch_banner ul li:nth-child(even) .banner_section:after{
	background-color:rgba(0, 0, 0, 0.56);
}
.banner_section .overlay{
	position:absolute;
	top:50%;
	left:0;
	right:0;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	z-index:2;
}
.banner_section .overlay h1 {
    font-size: 35px;
    font-weight: 800;
    color: #ffffff;
	width:100%;
	float:left;
	margin:0px;
}
.banner_section .overlay p span {
    color: #ffffff;
	display:inline-block;
	padding:15px 0 10px;
}
.banner_section .overlay p{
	width:100%;
	float:left;
}
.banner_section .overlay p span:before {
    font-size: 40px;
	margin:0px;
}
.banner_section .overlay h6{
	font-size:25px;
	line-height:20px;
	text-transform:capitalize;
	font-weight:900;
	color:#ffffff;
	margin:0px;
	width:100%;
	float:left;
}
/*banner css end*/
/*volunteer css start*/
.ch_volunteer_wrapper{
	width:100%;
	float:left;
	padding-top:80px;
	padding-bottom:50px;
}
.ch_volunteer_wrapper .ch_volunteers{
	width:100%;
	float:left;
}
.volunteer_section{
	width:100%;
	float:left;
	margin-bottom:30px;
	position:relative;
	box-shadow:0 5px 5px rgba(0, 0, 0, 0.13);
}
.volunteer_img {
    width: 100%;
    float: left;
}
.volunteer_section .overlay{
	position:absolute;
	left:0;
	text-align:center;
	top:80%;
	bottom:0;
	right:0;
	background-color:#f1f1f1;
	padding:20px;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
}
.volunteer_section:hover .overlay{
	top:0;
	background-color:rgba(0, 0, 0, 0.61);
	text-align:left;
}
.volunteer_section:hover .overlay p,.volunteer_section:hover .ch_social_icon{
	display:block;
}
.volunteer_section:hover .overlay p,.volunteer_section:hover .overlay h6,.volunteer_section:hover .overlay h1{
	color:#ffffff;
}
.volunteer_section .overlay h1{
	width:100%;
	float:left;
	margin:0;
	text-transform:capitalize;
	font-size:25px;
	line-height:20px;
	font-weight:700;
	padding-bottom:20px;
}
.volunteer_section .overlay h6{
	width:100%;
	color:#494949;
	float:left;
	margin:0px;
	transition:all 0.25s ease;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
	text-transform:capitalize;
}
.volunteer_section .overlay p{
	position:absolute;
	bottom:55px;
	left:20px;
	right:20px;
}
.volunteer_section .overlay p,.ch_social_icon{
	display:none;
}
.ch_social_icon{
	position:inherit;
	bottom:20px;
	left:20px;
	right:20px;
	transition:all 0.25s ease;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
}
.ch_social_icon ul{
	margin:0;
	padding:0;
	list-style:none;
}
.ch_social_icon ul li{
	display:inline-block;
	margin-right:15px;
}
.ch_social_icon ul li:last-child{
	margin-right:0px;
}
.ch_social_icon ul li a{
	font-size:16px;
	color:#ffffff;
	text-decoration:none;
	transition:all 0.25s ease;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
}
.ch_social_icon ul li a:hover{
	color:#fb5e1c;
}
/*volunteer css end*/
/*newsletter css start*/
.ch_newsletter_wrapper{
	width:100%;
	float:left;
	padding:80px 0;
	background-image:url('http://via.placeholder.com/1920x435/ffffff');
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	z-index:1;
}
.ch_newsletter_wrapper:after{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	z-index:-1;
	content:'';
	background-color:rgba(0, 0, 0, 0.80);
}
.ch_newsletter_section{
	width:100%;
	float:left;
}
.ch_newsletter_section h1{
	width:100%;
	float:left;
	margin:0px;
	font-size:35px;
	color:#ffffff;
	font-weight:700;
	text-transform:uppercase;
	line-height:35px;
	padding-bottom:28px;
}
.ch_newsletter_section p{
	width:100%;
	float:left;
	color:#ffffff;
	margin:0px;
	padding-bottom:38px;
}
.ch_newsletter_section .form-group{
	margin: 0;
    padding: 0 80px;
    width: 100%;
    float: left;
}
.ch_newsletter_section .form-group .form-control{
	height:50px;
	line-height:50px;
	background-color:#ffffff;
	border:none;
	border-radius:50px;
	box-shadow:none;
	outline:0px;
	font-size:16px;
	color:#494949;
	padding:0 20px;
}
.ch_newsletter_section .form-control::-moz-placeholder{color:#494949;opacity:1;text-align:center;}
.ch_newsletter_section .form-control:-ms-input-placeholder{color:#494949;text-align:center;}
.ch_newsletter_section .form-control::-webkit-input-placeholder{color:#494949;text-align:center;}
.ch_newsletter_section .ch_btn_wrapper{
	padding-top:20px;
}
.ch_newsletter_section .ch_btn_wrapper .ch_btn{
	background-color:transparent;
	border:3px solid #ffffff;
	line-height:45px;
	height:50px;
	border-radius: 25px;
}
.ch_newsletter_section .ch_btn_wrapper .ch_btn:hover:before {
    border: none;
    background-color: #fb5e1c;
}
.ch_newsletter_section .ch_btn_wrapper .ch_btn:hover{
	color:#ffffff;
}
/*newsletter css end*/
/*footer css start*/
.ch_footer_wrapper{
	width:100%;
	float:left;
	padding-top:80px;
	padding-bottom:50px;
	background-color:#2c2c2c;
}
.ch_footer_wrapper .widget{
	width:100%;
	float:left;
	margin-bottom:30px;
}
.ch_footer_wrapper .widget>ul{
	margin:0;
	padding:0;
	list-style:none;
}
.ch_footer_wrapper .widget>ul>li{
	width:100%;
	float:left;
	margin-bottom:10px;
}
.ch_footer_wrapper .widget_charity.widget>ul>li{
	margin-bottom:25px;
}
.ch_footer_wrapper .widget>ul>li:last-child{
	margin-bottom:0px;
}
.ch_footer_wrapper .widget>ul>li>p,.ch_footer_wrapper .widget>ul>li>a{
	color:#ffffff;
	text-transform:capitalize;
	transition:all 0.25s ease;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
}
.ch_footer_wrapper .widget>ul>li>a:hover{
	color:#fb5e1c;
}
.ch_footer_wrapper .widget>ul>li>p>i,.ch_footer_wrapper .widget>ul>li>a>i{
	color:#fb5e1c;
	font-size:22px;
	margin-right:10px;
}
.widget-title{
	width:100%;
	float:left;
	font-size:25px;
	line-height:25px;
	margin:0px;
	color:#ffffff;
	font-weight:700;
	text-transform:capitalize;
	padding-bottom:20px;
}
.ch_footer_wrapper .ch_social_icon{
	display:block;
	width:100%;
	float:left;
	padding-top:20px;
}
.footer_map{
	width:100%;
	float:left;
}
.footer_map .ch_map{
	width: 100%;
    float: left;
    height: 120px;
}
/*footer css end*/
/*copyright css start*/
.ch_copyright_wrapper{
	width:100%;
	float:left;
	background-color:#fb5e1c;
	text-align:center;
	padding:20px 0;
}
.ch_copyright_wrapper p{
	color:#ffffff
}
/*copyright css end*/
/*causes page css start*/
.inner_wrapper{
	width:100%;
	float:left;
	background-image:url('http://via.placeholder.com/1920x421');
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	position:relative;
}
.inner_wrapper:after{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color:rgba(0, 0, 0, 0.67);
	content:'';
}
.inner_wrapper .ch_menu_wrapper {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
}
.inner_heading{
	width:100%;
	float:left;
	padding:100px 0;
	position: relative;
    z-index: 1;
}
.inner_heading h1{
	width:100%;
	float:left;
	margin:0px;
	text-transform:uppercase;
	font-size:40px;
	padding-bottom:20px;
	line-height:40px;
	font-weight:800;
}
.inner_heading .breadcrumb{
	background-color:transparent;
}
.inner_heading .breadcrumb li a,.inner_heading .breadcrumb li{
	text-transform:capitalize;
	font-weight:800;
	color:#ffffff;
}
.inner_heading .breadcrumb>li+li:before {
    color: #fff;
    content: "\f105";
    font-family: fontawesome;
}
/*causes page css end*/
/*about page css start*/
.inner_about{
	margin:80px 0;
	background-color:#ffffff;
}
.inner_about .about_content{
	padding:42px 30px;
}
.inner_about .ch_btn_wrapper {
    padding-top: 20px;
}

.inner_about .about_content p {
    padding-bottom: 10px;
    line-height: 20px;
}
/*about page css end*/
/*event page css start*/
.ch_event_wrapper.inner_event{
	background-image:none;
	background-color:#ffffff;
	position:initial;
}
.ch_event_wrapper.inner_event:after{
	display:none;
}
/*event page css end*/
/*portfolio page css start*/
.ch_portfolio_wrapper{
	width:100%;
	float:left;
	padding-top:80px;
	padding-bottom:30px;
}
.gallery_section{
	margin-bottom:50px;
}
.gallery_section,.ch_hover{
	width:100%;
	float:left;
	position:relative;
	
}
.ch_hover:after{
	position:absolute;
	content:'';
	left:50%;
	top:50%;
	right:50%;
	bottom:50%;
	background-color:rgba(251, 94, 28, 0.7);
	transition:all 0.25s ease;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
}
.ch_hover:hover:after{
	left:16px;
	top:16px;
	right:16px;
	bottom:16px;
}
.ch_hover .overlay{
	position:absolute;
	left:50%;
	top:0%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	z-index:1;
	transition:all 0.25s ease;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
	opacity:0;
	visibility:hidden;
}
.mfp-with-zoom .mfp-content{
	animation:flipInY 1s;
}
.ch_hover:hover .overlay{
	top:50%;
	opacity:1;
	visibility:visible;
}
.ch_hover .overlay a{
	display:inline-block;
	color:#ffffff;
	font-size:25px;
}
.gallery{
	width:100%;
	float:left;
}
/*portfolio page css end*/
/*about page css end*/
.inner_volunteer{
	background-color:#f1f1f1;
}
/*about page css end*/
/*contact page css start*/
.ch_contact_detail_wrapper{
	width:100%;
	float:left;
	padding-top:80px;
	padding-bottom:50px;
}
.contact_detail_Sections{
	width:100%;
	text-align:center;
	float:left;
	margin-bottom:30px;
}
.contact_detail_Sections .contact_icon{
	width:100%;
	float:left;
}
.contact_icon span{
	display:inline-block;
	width:100px;
	line-height:100px;
	text-align:center;
	height:100px;
	border:2px solid #494949;
	border-radius:100px;
	position:relative;
}
.contact_icon span:before{
	font-size:30px;
	color:#fb5e1c;
	margin-left:0px;
}
.contact_detail_Sections .contact_icon  span:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    bottom: 50%;
    right: 50%;
    z-index: -1;
    background-color: #000;
    border-radius: 100px;
    transition: all 0.25s ease;
}
.contact_detail_Sections:hover .contact_icon  span:after {
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 5px;
}
.contact_detail_Sections  h3{
	width:100%;
	float:left;
	padding:20px 0 15px;
	margin:0px;
	text-transform:uppercase;
	font-weight:800;
}
.contact_detail_Sections  p{
	font-weight:700;
	width:100%;
	float:left;
	padding:0 44px;
	margin:0px;
}

.ch_contactmap_wrapper{
	width:100%;
	float:left;
}
.ch_contactmap_wrapper .ch_map{
	height:600px;
}

.ch_contact_form_wrapper{
	width:100%;
	float:left;
	padding:80px 0;
}
.vch_contact_form_wrapper .contact_form{
	width:100%;
	float:left;
}
.contact_form  .form-group{
	width:100%;
	float:left;
	margin-bottom:0px;
}
.contact_form  .form-group .form-control{
	height:48px;
	line-height:48px;
	background-color:#e4e4e4;
	color:#888888;
	font-size:14px;
	padding:0 15px;
	box-shadow:none;
	margin-bottom:20px;
	border:none;
}
.contact_form  .form-group .form-control:focus,.contact_form  .form-group .form-control:hover{
	box-shadow:0 5px 5px rgba(251, 94, 28, 0.32);		
}
.contact_form  .form-group textarea.form-control{
	height:108px;
	resize:none;
	margin-bottom:5px;
}
/*contact page css end*/
/*portfiolio single page css end*/
.ch_single_portfolio_wrapper{
	width:100%;
	float:left;
	padding:80px 0;
	background-color:#f1f1f1;
}
.ch_single_portfolio_wrapper .single_portfolio{
	width:100%;
	float:left;
}
.ch_single_portfolio_wrapper .single_portfolio_img{
	width:100%;
	float:left;
	margin-bottom:30px;
}
.p_single_detail{
	width:100%;
	float:left;
}
.p_single_detail p{
	margin-bottom:10px;
}
/*portfolio page css end*/
/*causes sngle page css start*/
.single_causes .causes_section{
	text-align:left;
}
.single_causes .causes_section .range_slder{
	padding:10px 0;
	width:70%;
	float:left;
	margin-bottom:10px;
}
.single_causes .ch_btn_wrapper{
	width: 30%;
    float: left;
    text-align: right;
    padding: 10px 0;
}
.discription{
	width:100%;
	float:left;
	margin-bottom:30px;
}
.discription h2,.cause_content_wrapper .c_content h2{
	font-size: 20px;
    line-height: 20px;
    text-transform: capitalize;
    font-weight: 700;
    margin: 0px;
    width: 100%;
	color:#000;
    float: left;
    padding: 25px 0;
}
.discription p{
	width:100%;
	float:left;
}
.cause_content_wrapper{
	width:100%;
	float:left;
}
.cause_content_wrapper .c_content,.cause_content_wrapper .c_img{
	width:100%;
	float:left;
	padding-bottom:20px;
}
.cause_content_wrapper .c_content h2{
	padding-top:0px;
}
.cause_content_wrapper .c_content>ul{
	margin:0;
	padding:0;
	list-style:none;
}
.cause_content_wrapper .c_content>ul>li{
	width:100%;
	float:left;
	position:relative;
}
.cause_content_wrapper .c_content>ul>li:before{
	position:absolute;
	content:'';
	left:0;
	top:15px;
	width:5px;
	height:5px;
	background-color:#fb5e1c;
	border-radius:5px;
}
.cause_content_wrapper .c_content>ul>li>p{
	width:100%;
	float:left;
	padding:5px 0 5px 25px;
}
/**sidebar**/
.causes_sidebar{
	width:100%;
	float:left;
}
.causes_sidebar .widget{
	width:100%;
	background-color:#f1f1f1;
	padding:20px;
	float:left;
	margin-bottom:40px;
}
.causes_sidebar .widget .widget-title{
	font-size: 20px;
    line-height: 20px;
    text-transform: capitalize;
    font-weight: 700;
    margin: 0px;
    width: 100%;
	color:#fb5e1c;
    float: left;
    padding-bottom:15px;
	position:relative;
	margin-bottom:20px;
}
.causes_sidebar .widget .widget-title:after{
	content:'';
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:2px;
	background-color:#ffffff;
}
.causes_sidebar .widget .widget-title:before{
	content:'';
	position:absolute;
	left:0;
	bottom:0;
	width:80px;
	height:2px;
	background-color:#fb5e1c;
	z-index:1;
}
.causes_sidebar .widget ul{
	margin:0;
	padding:0;
	list-style:none;
}
.causes_sidebar .widget ul li{
	width:100%;
	float:left;
}
.causes_sidebar .widget ul li a{
	width:100%;
	float:left;
	text-transform:capitalize;
	font-weight:600;
	padding:5px 0;
}
.causes_sidebar .widget ul li .p_img{
	width:35%;
	float:left;
}
.causes_sidebar .widget ul li .p_content{
	width:65%;
	float:left;
	padding-left:20px;
}
.widget_flickr.widget ul li{
	width:50%;
	float:left;
	margin-bottom:20px;
}
.tags{
	width:100%;
	float:left;
	padding-top:5px;
}
.tags a{
	display:inline-block;
	padding:5px 10px;
	background-color:#fb5e1c;
	color:#ffffff;
	border:1px solid #fb5e1c;
	font-size:14px;
	text-align:center;
	margin-bottom:5px;
	text-transform:capitalize;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
}
.tags a:hover{
	background-color:#ffffff;
	color:#fb5e1c;
}
.widget_flickr.widget ul li img:hover {opacity: 0.8;}

.widget_flickr.widget ul li img {
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
}
/*causes single page css end*/
/* Responsive css Start */
@media (max-width: 1366px) {
	.about_content{
		padding:30px;
	}
	.about_content h1{
		padding-bottom:30px;
	}
	.about_content p {
		margin: 0;
		padding-bottom: 15px;
	}
	.about_content .ch_btn_wrapper{
		padding-top:25px;
	}
	p{
		font-size: 15px;
	}
}
@media (max-width: 1320px){
	.about_content p {
		padding-bottom: 10px;
	}
}
@media (max-width: 1300px){
	.about_content h1{
		padding-bottom:20px;
	}
	.about_content .ch_btn_wrapper{
		padding-top:15px;
	}
	.about_content {
		padding: 27px 30px;
	}
	.ch_about_wrapper.inner_about p {
		line-height: 22px;
		font-size: 14px;
		padding-bottom: 17px;
	}
}
@media (max-width: 1240px){
	.about_content p {
		font-size: 14px;
		padding-bottom:16px;
	}
}
@media (max-width: 1220px){
	.about_content p {
		padding-bottom:10px;
	}
}
@media (max-width: 1200px) {
	.inner_about .about_content {
		padding: 31px 30px;
	}
}
@media (max-width: 1025px) {
	.about_content p {
		height: 75px;
		overflow: hidden;
		margin-bottom: 15px;
		padding-bottom: 0px;
	}
	.about_content {
		padding:35px 30px;
	}
	.inner_about .about_content p{
		height:auto;
		margin-bottom:0px;
	}
}
@media (max-width: 991px) {
	#toggle {
	width: 28px;
	height: 30px;
	float: right;
	cursor:pointer;
    margin: 9px 0px;
}

#toggle div {
  width: 100%;
  height: 5px;
  background: white;
  margin: 4px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
}

#toggle.on .one {
  transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
  opacity: 0;
}

#toggle.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
}
#menu {
	color: white;
    border: 1px solid white;
    width: 100%;
	padding:0px;
    border-radius: 3px;
    float: right;
    text-align: center;
    position: absolute;
    display: none;
    left: 0;
    background-color: #fff;
    right: 0;
    top: 50px;
}
.ch_menu_wrapper .ch_menu ul{
	width:100%;
	float:left;	
}
.ch_menu_wrapper .ch_menu ul li{
	width:100%;
	float:left;
	margin-right:0px;
}
.ch_menu_wrapper .ch_menu ul li a{
	color:#fb5e1c;
	width:100%;
	float:left;
	font-size:16px;
	padding:10px 0;
	border-bottom:1px solid #fb5e1c;
}
.ch_menu_wrapper .ch_menu ul li a:hover{
	background-color:#fb5e1c;
	color:#ffffff;
}
.ch_menu_wrapper .ch_menu ul li:last-child a{
	border-bottom:none;
}
.about_content p {
    height: auto;
    overflow: visible;
    margin-bottom: 0;
    padding-bottom: 15px;
}
.event_section .event_img img {
    width: 100%;
}
.ch_banner ul li {
    width: 50%;
}
.ch_banner ul li .banner_section img,.ch_about_wrapper .about_img  img {
    width: 100%;
}
.inner_heading{
	padding:20px 0;
}
.contact_detail_Sections  p{
	padding:0px;
}
.ch_service_wrapper{
	padding-top:40px;
	padding-bottom:20px;
}
.ch_event_wrapper,.ch_newsletter_wrapper,.ch_contact_form_wrapper{
	padding:40px 0;
}
.ch_causes_wrapper,.ch_volunteer_wrapper,.ch_footer_wrapper,.ch_contact_detail_wrapper{
	padding-top:40px;
	padding-bottom:10px;
}
.ch_portfolio_wrapper,.inner_about{
	padding-top:40px;
	padding-bottom:0px;
}
.gallery_section{
	margin-bottom:40px;
}
.causes_sidebar .widget ul li .p_img{
		width:15%;
	}
	.causes_sidebar .widget ul li .p_content{
		width:85%;
	}
	.widget_flickr.widget ul li{
		width:auto;
		margin-right:10px;
	}
}
@media (max-width: 767px) {
	.ch_volunteer_wrapper .ch_volunteers,.ch_footer_wrapper .widget{
		text-align:center;
	}
	.service_img,.causes_section .causes_img,.volunteer_img,.volunteer_section{
		width:auto;
		display:inline-block;
		float:none;
	}
	.gallery{
		text-align:center;
	}
	.gallery_section {
		display: inline-block;
		float: none !important;
		width: auto!important;
	}
	.single_causes .causes_section .range_slder{
		width:100%;
	}
	.single_causes .ch_btn_wrapper{
		width:100%;
		text-align:center;
	}
	
}
@media only screen (max-width: 567px) and (orientation: landscape) {
	.ch_menu_wrapper .ch_menu ul li a {
		font-size: 13px;
		padding: 3px 0;
	}
	#menu{
		top:40px;
	}
}
@media (max-width: 600px) {
	.rev-btn.ch_btn{
		height:35px;
		line-height:35px;
		font-size:13px;
	}
	.causes_sidebar .widget ul li .p_img{
		width:25%;
	}
	.causes_sidebar .widget ul li .p_content{
		width:75%;
	}
}

@media (max-width: 479px) {
	.ch_banner ul li{
		width:100%;
	}
	.rev-btn.ch_btn,.ch_btn_wrapper .ch_btn{
		height:30px;
		line-height:30px;
		font-size:13px;
		padding:0 20px;
	}
	.ch_para_hide{
		display:none !important;
	}
	.ch_sliderheading{
		padding-top:50px!important;
	}
	.ch_newsletter_section .form-group{
		padding:0 10px;
	}
		.causes_sidebar .widget ul li .p_img{
		width:100%;
	}
	.causes_sidebar .widget ul li .p_content{
		width:100%;
		padding-left:0px;
	}
}
/* Responsive css End */