html {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}



ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}



.container {
	max-width: 0;

	margin: 0 auto;
	padding: 0 15px;
}