html {
	box-sizing: border-box;
}

*, h1, h3, h4 {
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.load * {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

.container {
	max-width: 1200px;

	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 0 auto;
	padding: 0 15px;
}

.page {
	padding: 125px 0;
}

.page-title {
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;

	color: #212121;

	margin-bottom: 35px;
}

.description {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;

	color: #212121;
	text-align: center;

	line-height: 22px;
}

.page-description {
	max-width: 620px;
	margin-bottom: 120px;
}

.item-box {
	width: 100%;

	display: flex;
	justify-content: space-between;
}

.button {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;

	text-align: center;

	color: #212121;
	border: 2px solid #212121;
}



.header-page {
	height: 100vh;

	background: #191f26 url(../img/bg-1.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header-top {
		width: 100%;

		position: fixed;

		z-index: 1;

		box-shadow: 0px 0px 15px 0px rgba( 50, 50, 50, 1 );

	background-color: #fff;

	padding: 35px 0;
}

.header-top__content {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.header-top__logo {
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;

	color: #212121;
}

.header-top__toggler {
	display: none;

	font-size: 26px;
	font-weight: 900;

	color: #212121;
}

.main-menu {
	display: flex;
	align-items: center;
}

.main-menu__item {
	margin-right: 30px;
}

.main-menu__link {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;

	color: #212121;

	transition: 0.15s;
}

.main-menu__item:last-child .main-menu__link {
	margin-right: 0;
}

.main-menu__link:hover {
	color: #00897b;
	border-bottom: 3px solid #00897b;

	transition: 0.15s;
}

.header-main__content {
	height: 100vh;

	flex-direction: column;
	justify-content: flex-end;
}

.header-main__title {
	font-size: 60px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;

	color: #fff;
	text-align: center;

	margin-bottom: 25px;
}

.header-main__description {
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;

	color: #fff;
	text-align: center;

	margin-bottom: 150px;
}

.header-main__button-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	
	margin-bottom: 200px;
}

.header-main__button {
	width: 220px;

	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	
	text-align: center;

	color: #fff;
	border: 3px solid #fff;

	padding: 20px 30px;

	transition: 0.15s;
}

.header-main__button:first-child {
	margin-right: 7%;
}

.header-main__button:hover {
	background-color: #00897b;
	border-color: #00897b;

	transition: 0.15s;
}

.header-main__arrow {
	font-size: 50px;
	font-weight: 700;

	color: #fff;

	transition: 0.15s;
}

.header-main__arrow:hover {
	color: #00897b;

	transition: 0.15s;
}



.about-page__item-box {
	width: 90%;

	flex-direction: row;
	align-items: center;
}

.about-item {
	width: 30%;
	max-width: 255px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-item__img {
	margin-bottom: 30px;
}

.about-item__title {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;

	color: #212121;

	margin-bottom: 20px;
}



.service-page {
	background-color: #e4fdf9;
}

.service-page__item-box {
	flex-wrap: wrap;
}

.service-item {
	width: 31%;
	max-width: 370px;

	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #fff;
	padding: 55px 50px;

	transition: 0.35s;
}

.service-item:first-child,
.service-item:nth-child(2),
.service-item:nth-child(3) {
	margin-bottom: 3%;
}

.service-item__img {
	margin-bottom: 40px;
}

.service-item__title {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;

	margin-bottom: 25px;
}

.service-item__description {
	margin-bottom: 45px;
}

.service-item__button {
	padding: 18px 12px;

	transition: 0.35s;
}

.service-item__button:hover {
	border-color: #fff;

	transition: 0.35s;
}

.service-item__hovered {
	background-color: #00897b;

	transition: 0.35s;
}

.service-item__hovered * {
	color: #fff;

	transition: 0.35s;
}



.work-page__button-box {
	display: flex;
	flex-direction: row;
	align-items: center;

	margin-bottom: 120px;
}

.work-page__button {
	padding: 15px 25px;

	transition: 0.15s;
}

.work-page__button:not(:last-child) {
	margin-right: 20px;
}

.work-page__button:hover {
	background-color: #00897b;

	color: #fff;
	border-color: #00897b;

	transition: 0.15s;
}

.work-page__item-box {
	flex-wrap: wrap;

	margin-bottom: 130px;
}

.work-item {
	width: 32%;

	display: flex;
	flex-direction: column;
	
	position: relative;
}

.work-item:first-child,
.work-item:nth-child(2),
.work-item:nth-child(3) {
	margin-bottom: 2%;
}

.work-item__content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-family: 'Open Sans', sans-serif;

	color: #fff;
	background-color: rgba(0, 0, 0, 0.75);

	opacity: 0;

	transition: 0.15s;
}

.work-item__title {
	font-size: 20px;
	font-weight: 400;

	margin-bottom: 10px;
}

.work-item__description {
	font-size: 15px;
	font-weight: 400;
}

.work-page__bottom-button {
	padding: 20px 55px;
}

.work-item:hover .work-item__content {
	opacity: 1;

	transition: 0.15s;
}



.price-page {
	background-color: #f0f1f1;
}

.price-item {
	width: 30%;

	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: 'Open Sans', sans-serif;

	text-align: center;

	background: #fff;
}

.price-item__top-content {
	width: 100%;

	color: #fff;
	background: #3949ab;

	padding: 55px 0;
}

.price-item__title {
	font-size: 25px;
	font-weight: 400;

	margin-bottom: 35px;
}

.price-item__mini-title {
	font-size: 17px;
}

.price-item__dollar {
	font-size: 25px;
}

.price-item__money {
	font-size: 50px;
}

.price-item__description-box {
	padding: 50px 0 65px 0;
}

.price-item__description {
	font-size: 17px;
	font-weight: 600;

	color: #212121;
	
	margin-bottom: 35px;
}

.price-item__description::after {
	width: 100%;
	height: 1px;

	display: block;

	content: '';

	background-color: #000;

	margin-top: 15px;
}

.price-item__description:last-child {
	margin-bottom: 0;
}

.price-item__button {
	margin-bottom: 60px;
	padding: 20px 25px;

	transition: 0.15s;
}

.price-item__button:hover {
	background-color: #00897b;

	color: #fff;
	border-color: #00897b;

	transition: 0.15s;
}

.price-item__hovered {
	box-shadow: 0px 0px 15px 0px rgba( 50, 50, 50, 1 );
	
	transition: 0.15s;
}



.team-page__item-box {
	margin-bottom: 125px;
}

.team-item {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: 'Open Sans', sans-serif;

	color: #212121;
}

.team-item__img {
	margin-bottom: 40px;
}

.team-item__initials {
	font-size: 20px;
	font-weight: 600;

	margin-bottom: 10px;
}

.team-item__profession {
	font-size: 15px;
	font-weight: 400;

	margin-bottom: 30px;
}

.team-item__social-box {
	width: 75%;

	display: flex;
	justify-content: space-between;
}

.team-item__social {
	width: 50px;
	height: 50px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 20px;
	font-weight: bold;

	color: #00897b;
	background-color: #f0f1f1;

	border-radius: 10px;

	transition: 0.15s;
}

.team-item__social:hover {
	color: #fff;
	background-color: #3949ab;

	transition: 0.15s;
}

.team-page__point-box {
	width: 65px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.team-page__point {
	width: 12px;
	height: 12px;

	background-color: #00897b;

	border-radius: 100%;

	transition: 0.15s;
}

.team-page__point:hover {
	background-color: #3949ab;

	transition: 0.15s;
}



.blog-page {
	background-color: #e4fdf9;
}

.blog-page__item-box {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.blog-item {
	display: flex;
	justify-content: space-between;
}

.blog-item__first-block {
	margin-right: 30px;
}

.blog-item__flex-block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.blog-item__title {
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;

	color: #212121;

	margin-top: 60px;

	transition: 0.15s;
}

.blog-item__title:hover {
	color: #00897b;

	transition: 0.15s;
}

.blog-item__mini-titles {
	display: flex;

	margin-top: 25px;
}

.blog-item__mini-title {
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.blog-item__mini-title:first-child {
	margin-right: 40px;
}

.blog-item__mini-title i {
	margin-right: 10px;
}

.blog-item__description {
	width: 70%;

	text-align: start;

	margin-top: 25px;
}

.blog-page__button {
	font-size: 20px;
	font-family: 'Roboto';
	font-weight: 700;

	margin-top: 125px;
	padding: 20px 45px;

	transition: 0.15s;
}

.blog-page__button:hover {
	background-color: #00897b;

	color: #fff;
	border-color: #00897b;

	transition: 0.15s;
}



.contact-page {
	background: #272727 url(../img/bg-2.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.contact-page__title,
.contact-page__description {
	color: #fff;
}

.contact-page__item-box {
	width: 75%;

	margin-bottom: 80px;
}

.contact-item {
	width: 30%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-item__icon {
	width: 105px;
	height: 105px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 45px;

	color: #fff;
	background-color: #3949ab;

	border-radius: 100%;

	margin-bottom: 35px;
}

.contact-item__description {
	font-size: 17px;
	font-weight: 600;
	
	color: #fff;

	line-height: 22px;
}

.contact-page__form-box {
	width: 80%;
}

.contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-form__input-box,
.contact-form__textarea {
	width: 100%;

	font-size: 18px;
	font-family: 'Open Sans', sans-serif;

	color: #656565;

	margin-bottom: 35px;
}

.contact-form__input-box {
	display: flex;
	justify-content: space-between;
}

.contact-form__input {
	width: 45%;
	
	font-weight: 600;

	border: none;
	border-radius: 10px;

	outline: none;

	padding: 15px;
}

.contact-form__textarea {
	font-weight: 600;
	
	border: none;
	border-radius: 10px;

	outline: none;
	resize: none;

	padding: 30px 20px 275px 20px;
}

.contact-form__button {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;

	color: #212121;
	background-color: #fff;

	border: none;
	border-radius: 10px;

	padding: 25px 85px;
	margin-left: auto;
}



.footer-page__text {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	
	color: #212121;
	text-align: center;

	padding: 25px 0;
}



div[style], .cumf_bt_form_wrapper {
	display: none;
}