html {
	box-sizing: border-box;
}

body {
	font-family: 'Encode Sans', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}



ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}



.container {
	max-width: 1150px;

	margin: 0 auto;
	padding: 0 15px;
}

.mobile-telephone {
	position: absolute;
    top: 20%;
	left: 65%;
	
    width: 300px;

	text-align: center;
}

.mobile-telephone__time {
	position: absolute;
	top: 17px;
	left: 33px;

	font-size: 10px;
	color: #b9b6ce;
}

.mobile-telephone__title {
	position: absolute;
	
	top: 32%;
	left: 50px;

	max-width: 150px;

	font-size: 60px;
	font-weight: 300;

	color: #fff;
}

.mobile-telephone__description {
	position: absolute;
	top: 84%;
	left: 45%;

	font-size: 18px;
	font-weight: 800;

	color: #fff;
}

.item-box {
	width: 100%;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
}



.header-page {
	background: #3d2e87 url(../img/bg-1.jpg) no-repeat center bottom / cover;

	padding: 55px 0 325px 0;
}

.header-top__container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.header-page__logo {
	display: flex;
	align-items: center;

	margin-right: auto;
}

.header-page__toggler {
	display: none;
	
	font-size: 18px;

	color: #fff;
}

.main-menu {
	display: flex;
	align-items: center;
}

.main-menu__item:not(:last-child) {
	margin-right: 35px;
}

.main-menu__link {
	font-weight: 500;

	color: #d7d5ff;
	transition: 0.35s;
}

.main-menu__link:hover {
	color: #fff;

	transition: 0.35s;
}

.header-page__button {
	border-radius: 20px;

	color: #fff;
	background-color: #6727ad;

	margin-left: 40px;
	padding: 10px 30px;

	transition: 0.35s;
}

.header-page__button:hover {
	transform: scaleX(1.05);
	box-shadow: 0px 0px 30px 0px #6727ad;

	transition: 0.35s;
}

.header-main__container {
	display: flex;
}

.header-page__main-content {
	margin-top: 205px;
}

.header-page__left-block {
	text-align: center;

	margin: 0 auto 0 50px;
}

.header-page__title {
	max-width: 400px;

	font-size: 29px;
	font-weight: 300;

	color: #fff;

	line-height: 40px;

	margin: 0 auto;
}

.header-page__description {
	font-size: 20px;
	color: #e1e0ea;

	margin-top: 20px;
}



.about-page {
	padding: 100px 0 70px 0;
}

.about-item {
	width: 32.5%;

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	border-radius: 20px;

	background-color: #fff;
	box-shadow: 0px 0px 100px 0px #d5d7e1;

	padding: 40px 35px;
}

.about-item__heart-imgs {
	position: relative;
}

.about-item__heart-clone {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	opacity: 0;

	transition: 0.35s;
}

.about-item__title {
	font-size: 21px;
	font-weight: 500;

	color: #3d2e88;

	margin: 30px 0;

	transition: 0.35s;
}

.about-item:first-child .about-item__title {
	margin-top: 20px;
}

.about-item__description {
	color: #736ba3;
}

.about-item__button {
	opacity: 0;

	color: #736ba3;
	
	transition: 0.35s;
}

.about-item__button:hover {
	text-decoration: underline;
}

.about-item__hovered .about-item__img {
	filter: saturate(1400%); /* Да-да, дикое число) */
	
	transition: 0.35s;
}

.about-item__hovered .about-item__heart-orig {
	opacity: 0;

	transition: 0.35s;
}

.about-item__hovered .about-item__heart-clone {
	opacity: 1;

	transition: 0.35s;
}

.about-item__hovered .about-item__title {
	color: #792ecc;
	transition: 0.35s;
}

.about-item__hovered .about-item__button {
	opacity: 1;

	margin-top: 35px;

	transition: 0.35s;
}



.price-page {
	background: #d7dce3 url(../img/bg-2.jpg) no-repeat center top / cover;

	padding: 105px 0 240px 0;
}

.price-page__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.price-page__title {
	font-size: 39px;
	font-weight: 300;

	text-align: center;
	
	color: #6c2eb9;

	margin-bottom: 40px;
}

.price-page__description {
	max-width: 615px;

	font-size: 23px;
	color: #736ba3;

	text-align: center;

	margin-bottom: 105px;
}

.price-page__item-box { 
	align-items: center;
}

.price-item {
	width: 32.5%;

	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;

	border-radius: 20px;

	background-color: #fff;
	box-shadow: 0px 0px 100px 0px #d5d7e1;

	padding: 60px 45px;

	transition: 0.35s;
}

.price-item:hover {
	transform: scale(1.175);
	transition: 0.35s;
}

.price-item:last-child {
	padding-top: 30px;
}

.price-item__title {
	font-size: 25px;
	font-weight: 300;

	color: #3d2e88;

	margin-bottom: 50px;
}

.price-item__amount {
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;

	color: #3d2e88;
	transition: 0.35s;
}

.price-item:hover .price-item__amount {
	color: #7c2dcd;
	transition: 0.35s;
}

.price-item__amount-description {
	font-size: 18px;
	color: #7c2dcd;

	margin-bottom: 30px;
}

.price-item__description {
	font-size: 18px;
	color: #736ba3;

	line-height: 30px;

	margin-bottom: 30px;
}

.price-item__button {
	font-size: 19px;

	border: 1px solid #7a3bb8;
	border-radius: 40px;

	color: #3f2e89;

	padding: 15px 60px;

	transition: 0.35s;
}

.price-item__button:hover {
	color: #fff;
	background-color: #61559e;

	transition: 0.35s;
}