@media screen and (max-width: 1024px) {
	.header-cap__menu-toggler {
		display: flex;
	}
	
	.header-cap__nav {
		display: none;
	}
}

@media screen and (max-width: 800px) {
	html {
		font-size: 13px;
	}

	.about-page__img:not(:last-child) {
		margin-right: 60px;
	}
	
	.about-page__description {
		line-height: 1.725rem;
	}
}

@media screen and (max-width: 540px) {
	.about-page__description {
		line-height: 2rem;
	}

	.comment-page__description {
		text-align: center;
	}

	.form {
		padding-top: 66px;
		padding-bottom: 15px;
	}

	.form__input, .form__textarea {
		width: 135px;
	}

	.form__textarea {
		margin-bottom: 15px;
	}

	.form__button {
		font-size: 1.5rem;
		padding: 10px;
	}
}

@media screen and (max-width: 320px) {
	html {
		font-size: 10px;
	}

	.about-page__images {
		flex-direction: column;
	}

	.about-page__img:not(:last-child) {
		margin: 0 0 20px 0;
	}

	.about-page__description,
	.comment-page__description {
		font-size: 1.25rem;
		text-align: center;

		line-height: 2.5rem;
	}

	.form {
		padding: 36px 65px 10px 65px;
	}
}