/* не стал доделывать адаптивку, т.к. верстка неправильная */

@media screen and (max-width: 1196px) {
	.button {
		font-size: 16px;
	}



	.price-item {
		width: 32%;
	}



	.team-item {
		width: 32%;
	}
}

@media screen and (max-width: 960px) {
	.page {
		padding: 95px 0;
	}

	.page-title {
		font-size: 26px;
	}

	.page-description {
		margin-bottom: 80px;
	}

	.button {
		font-size: 14px;
	}



	.header-top {
		padding: 25px 0;
	}

	.header-top__nav {
		width: 100%;

		display: none;
	}

	.header-top__toggler {
		display: flex;
	}

	.main-menu {
		width: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;

		text-align: center;

		background-color: #fff;

		margin-top: 10px;
	}

	.main-menu__item {
		margin: 10px 0 0 0;
	}

	.header-main__title {
		font-size: 50px;
	}

	.header-main__description {
		font-size: 18px;
	}

	.header-main__button {
		font-size: 16px;
	}



	.about-page__item-box {
		width: 95%;
	}

	.about-page__item {
		width: 31%;
	}

	.about-item__title {
		font-size: 18px;
	}



	.service-page__item-box {
		width: 90%;
	}

	.service-item {
		width: 47%;
	}

	.service-item:first-child, .service-item:nth-child(2), .service-item:nth-child(3), .service-item:nth-child(4) {
		margin-bottom: 5%;
	}

	.service-item__button {
		padding: 14px 12px;
	}



	.work-page__item-box {
		width: 90%;

		margin-bottom: 90px;
	}

	.work-item {
		width: 47%;
	}

	.work-item:first-child, .work-item:nth-child(2), .work-item:nth-child(3), .work-item:nth-child(4) {
		margin-bottom: 5%;
	}

	.price-item__top-content {
		padding: 20% 0;
	}

	.price-item__title {
		font-size: 20px;

		margin-bottom: 25px;
	}

	.price-item__mini-title {
		font-size: 14px;
	}

	.price-item__dollar {
		font-size: 25px;
	}

	.price-item__money {
		font-size: 30px;
	}

	.price-item__description-box {
		padding: 15% 0 25% 0;
	}

	.price-item__description {
		font-size: 15px;
		
		margin-bottom: 30px;
	}

	.price-item__button {
		margin-bottom: 45px;
		padding: 15px 20px;
	}



	.team-page__item-box {
		margin-bottom: 85px;
	}

	.team-item__social {
		width: 40px;
		height: 40px;

		font-size: 16px;
	}



	.blog-item:not(:last-child) {
		margin-bottom: 30px;
	}

	.blog-item__title {
		font-size: 20px;

		margin-top: 30px;
	}

	.blog-item__mini-titles {
		margin-top: 15px;
	}

	.blog-item__mini-title {
		font-size: 14px;
	}

	.blog-item__description {
		width: 100%;

		margin-top: 15px;
	}

	.blog-page__button {
		margin-top: 90px;
	}



	.contact-page__item-box {
		margin-bottom: 60px;
	}

	.contact-item__icon {
		width: 85px;
		height: 85px;

		font-size: 35px;
	}

	.contact-item__description {
		font-size: 14px;
	}

	.contact-page__form-box {
		width: 90%;
	}

	.contact-form__input-box,
	.contact-form__textarea {
		font-size: 14px;
	}

	.contact-form__textarea {
		padding: 20px 20px 250px 20px;
	}

	.contact-form__button {
		font-size: 18px;
		padding: 15px 65px;
	}
}

@media screen and (max-width: 768px) {
	.page {
		padding: 75px 0;
	}

	.page-title {
		font-size: 22px;

		margin-bottom: 25px;
	}

	.description {
		font-size: 14px;
	}


	.page-description {
		margin-bottom: 60px;
	}



	.header-main__content {
		justify-content: center;
	}
	
	.header-main__title {
		font-size: 40px;

		margin-top: 50%;
	}

	.header-main__description {
		font-size: 16px;

		margin-bottom: 20%;
	}

	.header-main__button-box {
		margin-bottom: auto;
	}

	.header-main__button {
		width: 190px;
	}



	.about-page__item-box {
		width: 90%;

		flex-wrap: wrap;
	}

	.about-item {
		width: 45%;
	}

	.about-item:last-child {
		margin: 40px auto 0 auto;
	}

	.about-item__img {
		margin-bottom: 20px;
	}

	.about-item__title {
		margin-bottom: 15px;
	}



	.service-page__item-box {
		justify-content: center;
	}

	.service-item {
		width: 80%;
	}

	.service-item:first-child, .service-item:nth-child(2), .service-item:nth-child(3), .service-item:nth-child(4), .service-item:nth-child(5) {
		margin-bottom: 7%;
	}



	.work-page__button:not(.work-page__bottom-button) {
		padding: 15px 20px;
	}
	
	.work-page__button:not(:last-child) {
		margin-right: 5px;
	}

	.work-page__item-box {
		justify-content: center;
	}

	.work-item {
		width: 70%;
	}

	.work-item:first-child, .work-item:nth-child(2), .work-item:nth-child(3), .work-item:nth-child(4), .work-item:nth-child(5) {
		margin-bottom: 7%;
	}



	.price-page__item-box {
		width: 90%;

		flex-wrap: wrap;
	}

	.price-item {
		width: 47%;
	}

	.price-item:last-child {
		margin: 40px auto 0 auto;
	}



	.team-page__item-box {
		width: 90%;

		flex-wrap: wrap;
	}

	.team-item {
		width: 45%;
	}

	.team-item:last-child {
		margin: 40px auto 0 auto;
	}

	.team-item__img {
		margin-bottom: 20px;
	}

	.team-item__profession {
		margin-bottom: 15px;
	}

	.team-item__social {
		width: 35px;
		height: 35px;

		font-size: 14px;
	}



	.blog-item__first-block {
		margin-right: 20px;
	}

	.blog-item__title {
		margin-top: 0;
	}



	.contact-page__item-box {
		width: 90%;
	}

	.contact-item__icon {
		width: 65px;
		height: 65px;

		font-size: 25px;

		margin-bottom: 15px;
	}
	
	.contact-form__textarea {
		padding-bottom: 200px;
	}
}



@media screen and (max-width: 540px) {
	.header-top {
		padding: 20px 0;
	}

	.header-top__logo {
		font-size: 20px;
	}

	.header-top__toggler {
		font-size: 22px;
	}

	.main-menu__link {
		font-size: 16px;
	}

	.header-main__title {
		font-size: 36px;
	}

	.header-main__button-box {
		width: 80%;

		flex-wrap: wrap;
		justify-content: center;
	}

	.header-main__button {
		width: 75%;

		font-size: 14px;
	}

	.header-main__button:first-child {
		margin-right: 0;
		margin-bottom: 5%;
	}



	.about-page__item-box {
		width: 100%;
	}

	.about-item {
		width: 75%;

		text-align: center;

		margin: 40px auto 0 auto;
	}

	.about-item:first-child {
		margin-top: 0;
	}



	.service-page__item-box {
		width: 100%;
	}

	.service-item {
		width: 100%;

		padding: 55px 30px;
	}

	.service-item__img {
		margin-bottom: 20px;
	}

	.service-item__description {
		margin-bottom: 35px;
	}

	.work-page__button-box {
		width: 90%;

		flex-wrap: wrap;
		justify-content: center;

		margin-bottom: 80px;
	}

	.work-page__button:not(:last-child) {
		margin-right: 0;
	}

	.work-page__button:not(.work-page__bottom-button) {
		width: 65%;

		padding: 15px 0;
	}

	.work-page__button:not(.work-page__bottom-button):not(:last-child) {
		margin-bottom: 10px;
	}

	.work-item {
		width: 80%;
	}



	.price-page__item-box {
		width: 100%;
	}

	.price-item {
		width: 65%;

		margin: 40px auto 0 auto;
	}



	.team-page__item-box {
		width: 100%;

		align-items: center;
	}

	.team-item {
		width: 75%;

		margin: 40px auto 0 auto;
	}
}

/* не стал доделывать адаптивку, т.к. верстка неправильная */